{% extends 'base.html.twig' %}

{% block title %}Lieu index{% endblock %}

{% block body %}
    <h1>Lieu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>NumeroDeRue</th>
                <th>Rue</th>
                <th>CodePostale</th>
                <th>Ville</th>
                <th>DateDeCreation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lieu in lieus %}
            <tr>
                <td>{{ lieu.id }}</td>
                <td>{{ lieu.nom }}</td>
                <td>{{ lieu.numeroDeRue }}</td>
                <td>{{ lieu.rue }}</td>
                <td>{{ lieu.codePostale }}</td>
                <td>{{ lieu.ville }}</td>
                <td>{{ lieu.dateDeCreation ? lieu.dateDeCreation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('lieu_show', {'id': lieu.id}) }}">show</a>
                    <a href="{{ path('lieu_edit', {'id': lieu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lieu_new') }}">Create new</a>
{% endblock %}
