<div class="modal fade" id="newLieuModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un Point</h5>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading">Attention !</h4>
          <p>Les lieux saisis seront prises en compte <strong>seulement</strong> :</p>
          <p>   - Quand 5 personnes différentes ajouteront le même lieu que vous !</p>
          <hr>
          <p class="mb-0">Cette fonctionnalité est en cours d'étude, amélioration à venir !</p>
        </div>
        {{ form(newform, {'action': path('lieu_new')})}}
      </div>
    </div>
  </div>
</div>