<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginLabel">Connexion</h5>
            </div>
            <div class="modal-body">
                <form role="form" method="post" action="{{ path('app_login') }}">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <label for="username">Identifiant</label>
                    <input type="username" value="{{ last_username }}" name="username" id="username"
                           class="form-control" required autofocus>
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password" class="form-control" required>

                    <button class="btn btn-primary" type="submit"style ="background-color:#648DE5;">
                        Se connecter</button>
                </form>
                <a href="#" class="alert-link text-dark" data-dismiss="modal"
                   data-toggle=modal data-target="#registerModal">Je n'ai pas de compte...</a>.
            </div>
        </div>
    </div>
</div>
<div class="js-user-rating" data-is-authenticated="{{ error ? 'true' : 'false' }}">
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        if ($('.js-user-rating').data('isAuthenticated')) {
            $('#loginModal').modal('show');
        }
    });
</script>
