<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerLabel">Inscription</h5>
      </div>
      <div class="modal-body">
        {{ form(registerForm, {'action': path('registration_register')}) }}
      </div>
    </div>
  </div>
</div>