{% extends 'base.html.twig' %}

{% block title %}DepistonCovid{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet'/>
    <link
            rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
            type="text/css"
    />
    <style type="text/css">
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            position: relative;
            height: 90vh;
            width: 100vw;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            overflow-x: hidden;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="map"></div>
{% endblock %}

{% block modals %}
    {{ render(controller('App\\Controller\\UtilisateurController::create')) }}
    {{ render(controller('App\\Controller\\SecurityController::login')) }}
    {{ render(controller('App\\Controller\\LieuController::new')) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.js"></script>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoicml0YXp6IiwiYSI6ImNrazFpMWxndTA5b2oydnFvd2FhY2syYzYifQ.eyX4vqWHNtitSuqzlA4snA';
        var map = new mapboxgl.Map({
            container: 'map',
            zoom: 6,
            center: [2.61878695312962, 47.8249046208979],
            style: 'mapbox://styles/mapbox/streets-v11',
        });
        map.addControl(
            new mapboxgl.GeolocateControl({
                positionOptions: {
                    enableHighAccuracy: true
                },
                trackUserLocation: true
            })
        ).addControl(
            new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                mapboxgl: mapboxgl
            })
        );

        $(document).ready(function () {
            //url: 'http://127.0.0.1:8000/lieu/list/json',
            //url: 'https://depistoncovid.bysultan.com/lieu/list/json',
            $.ajax({
                url: 'http://127.0.0.1:8000/lieu/list/json',
                type: 'get',
                dataType: 'json',
                async: 'false',

                success: function (data, status) {
                    let lieux = data.response;
                    for (const lieuxKey in lieux) {
                        const itemJson = $.parseJSON(lieux[lieuxKey]);

                        if (itemJson.note >= 5) {
                            //console.log(itemJson);
                            var mapboxClient = mapboxSdk({accessToken: 'pk.eyJ1Ijoicml0YXp6IiwiYSI6ImNrazFpMWxndTA5b2oydnFvd2FhY2syYzYifQ.eyX4vqWHNtitSuqzlA4snA'});
                            mapboxClient.geocoding.forwardGeocode({
                                query: itemJson.numeroDeRue + ' ' + itemJson.rue + ',' + itemJson.ville + ' ' + itemJson.codepostale,
                                limit: 2
                            })
                                .send()
                                .then(response => {
                                    const match = response.body;
                                    var marker = new mapboxgl.Marker({
                                        color: "#E51017"
                                    })
                                        .setLngLat(match.features[0].geometry.coordinates)
                                        .setPopup(
                                            new mapboxgl.Popup({offset: 25})
                                                .setText(
                                                    itemJson.nom + '\n' + itemJson.rue + '\n' + itemJson.ville + ' ' + itemJson.codePostale
                                                ))
                                        .addTo(map);
                                    /* permet de cadrer au coordonner passé en param
                                    map.flyTo({
                                        center: match.features[0].center,
                                        essential: true // this animation is considered essential with respect to prefers-reduced-motion
                                    });*/
                                });
                        }
                    }
                    /* get latLong
                    mapboxClient.geocoding.forwardGeocode({
                        query: 'France',
                        limit: 2
                    })
                        .send()
                        .then(response => {
                            const match = response.body;
                            console.log(match);
                        });*/
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Ajax request fail');
                }
            });
            $.ajax({
                url: 'http://127.0.0.1:8000/lieu/list/csvToJson',
                type: 'get',
                dataType: 'json',
                async: 'false',

                success: function (data, status) {
                    let lieux = data.response;
                    $.each($.parseJSON(lieux), function () {
                        console.log(this);
                        if (new RegExp(['PARIS', 'TOULOUSE', 'MARSEILLE', 'LYON', 'LA ROCHELLE', 'BREST'].join("|")).test(this.adresse.toUpperCase())) {
                            if(this.tel_rdv)
                            {
                                var tel = ' ( '+ this.tel_rdv +' )';
                            }else{
                                var tel = '';
                            }

                            var mapboxClient = mapboxSdk({accessToken: 'pk.eyJ1Ijoicml0YXp6IiwiYSI6ImNrazFpMWxndTA5b2oydnFvd2FhY2syYzYifQ.eyX4vqWHNtitSuqzlA4snA'});
                            mapboxClient.geocoding.forwardGeocode({
                                query: this.adresse,
                                limit: 2
                            })
                                .send()
                                .then(response => {
                                    const match = response.body;
                                    var marker = new mapboxgl.Marker({
                                        color: "#E51017"
                                    })
                                        .setLngLat(match.features[0].geometry.coordinates)
                                        .setPopup(
                                            new mapboxgl.Popup({offset: 25})
                                                .setHTML(
                                                    '<strong>' + this.rs + '</strong><p>' +
                                                    'Accueil : '+ this.public +'<br>'+
                                                    ' Rendez-Vous : ' + this.check_rdv + tel +
                                                    '</p>' +
                                                    this.adresse +
                                                    '<p>' + this.horaire + '</p>'
                                                ))
                                        .addTo(map);
                                    /* permet de cadrer au coordonner passé en param
                                    map.flyTo({
                                        center: match.features[0].center,
                                        essential: true // this animation is considered essential with respect to prefers-reduced-motion
                                    });*/
                                });

                        }
                    });
                    /* get latLong
                    mapboxClient.geocoding.forwardGeocode({
                        query: 'France',
                        limit: 2
                    })
                        .send()
                        .then(response => {
                            const match = response.body;
                            console.log(match);
                        });*/
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Ajax request fail');
                }
            });
        });
    </script>
{% endblock %}

