<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
              crossorigin="anonymous">
    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark" style="overflow-x: hidden;background-color: #E51017;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url('home') }}">DepistonCovid</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if loged == true %}
                        <li>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#newLieuModal" style="background-color:#648DE5;">
                                Ajouter
                            </button>
                        </li>
                    {% endif %}
                </ul>
                {% if alert %}
                <span class="navbar-text text-light">
                        <strong>{{ alert['value'] }} </strong>
      </span>


                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if loged == false %}
                        <li class="nav-item">
                            <button type="button" class="btn text-light" data-toggle=modal data-target="#loginModal" style="background-color:#648DE5 ;">
                                Connexion
                            </button>
                        </li>
                    {% else %}
                        <li>
                            <div class="btn-nav"><a class="btn btn-danger btn-small navbar-btn" style="background-color: #34344A;"
                                                    href="{{ url('logout') }}">Déconnexion</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
{% endblock %}
{% block modals %}{% endblock %}
{% block footer %}
    <!-- Footer -->
    <footer class="text-light text-center text-lg-start" style="background-color: #34344A;">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Informations</h5>
                    <p>
                        DepistonCovid est un site communautaire :</p>
                        <p>    - <strong>Aucune</strong> donnée d'utilisation ne sera collecté. </p>

                    <p> Les points de dépistage sont récupérés depuis <strong>Data.Gouv.fr</strong>.</p>

                </div>
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-light" href="#">BySultan</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
            integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
            crossorigin="anonymous"></script>
{% endblock %}


</body>
</html>
